/* GLOBAL STYLES
-------------------------------------------------- */

/* Padding below the footer and lighter body text */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  color: #5a5a5a;
}

img {
  object-fit: cover;
  width: 100%;
}

#header {
  transition: linear 0.4s all;
  z-index: 100;
}

.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.nav__header {
  color: #fff;
  opacity: 0.8;
}

.nav__header:hover {
  opacity: 1;
}

/* Declare heights because of positioning of img element */

.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/*Dang nhap dang ki*/

.navbar {
  margin-bottom: 20px;
}

a {
  color: rgb(184, 177, 201);
}

.icon__cart {
  opacity: 0.7;
}

.icon__cart:hover {
  opacity: 1;
}

#menu li:hover {
  background: rgb(51, 53, 48);
}

#menu {
  font-weight: bold;
  font-size: larger;
}

.dropdown-menu a {
  font-size: large;
}

.dropdown-menu a:hover {
  color: rgb(222, 240, 198);
  font-weight: bold;
}

/* item */

.keyboard-detail {
  overflow: hidden;
  width: 100%;
}

.keyboard-detail__container {
  position: relative;
  width: 100%;
}

.keyboard-detail__img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  filter: brightness(0.5);
}

.keyboard-detail__des {
  position: flex;
  gap: 1rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  position: relative;
  z-index: 10;
  max-width: 30rem;
}

.invalid {
  color: red;
}
.valid {
  color: green;
}

/* store */
.container__store {
  min-height: 70vh;
  padding: 1rem 0;
}

.item__img {
  object-fit: contain;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  margin: 0 2rem;
}
